/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	vertical-align: middle;
}

/* style */

.container{
    width: 1200px;
    margin: auto;
}

.header{
    width: 100%;
	padding-top: 40px;
	border-bottom: solid #000 2px;
}

h1{
    font-family: SF Pro Text Regular;
	width: 274px;
    font-size: 80px;
    line-height: 90px;
	margin-bottom: 24px;
}

.avatar{
    width: 324px;
    margin: 48px 0;
}


.subtitle01{
	display: inline-flex;
	border-bottom: solid #000 1px;
	margin-bottom: 16px;
	width: 100%;
}

.subtitle01 h2{
	font-family: PingFangTC-Medium, sans-serif;
	font-size: 32px;
	line-height: 48px;
	margin-right: 16px;
	margin-bottom: 8px;
}

.subtitle01 p{
	color: #A00404;
	font-family: PingFangTC-Semibold, sans-serif;
	font-size: 24px;
	line-height: 36px;
}

.item01{
	font-family: PingFangTC-Light, sans-serif;
	font-size: 24px;
	line-height: 36px;
}

.profile .item01{
	margin-bottom: 24px;
}

.education .item01{
	margin-bottom: 16px;
}

.education, .skill{
	margin-top: 64px;
}

.skill{
	background-color: #415165;
	padding: 24px 0 40px 0;
	width: 100%;
	text-align: center;
}

.subtitle02{
	border-bottom: solid #FFF 1px;
	width: 996px;
	margin: auto;
}

.subtitle02-content{
	display: inline-flex;
	justify-content: center;
}

.subtitle02 h2{
	font-family: PingFangTC-Medium, sans-serif;
	font-size: 32px;
	line-height: 48px;
	margin-right: 16px;
	color: #FFF;
	margin-bottom: 8px;
}

.subtitle02 p{
	color: #FFF;
	font-family: PingFangTC-Semibold, sans-serif;
	font-size: 24px;
	line-height: 36px;
}


.skill .items{
	width: 224px;
	margin: auto;
	text-align: left;
}

.skill ul{
	border-left: solid #96A9C4 1px;
	padding-left: 23px;
	margin-top: 40px;
}

.item02{
	font-family: PingFangTC-Light, sans-serif;
	font-size: 24px;
	line-height: 36px;
	color: #FFF;
}


.skill .item02{
	margin-top: 8px;
}

.contact .item02{
	margin-top: 16px;
}

.item02 a{
	color: #FFF;
	text-decoration: none;
}


.item02 img{
	margin:0 12px;
}

.work{
	margin-top: 64px;
}

.work .items{
	border-left: solid 1px #96A9C4;
	margin-left:24px;
	padding-left: 24px;
}

.contact{
	background-color: #415165;
	text-align: center;
	padding: 24px 0 40px 0;
	margin-top: 80px;
}


.subtitle03{
	display: inline-flex;
	justify-content: center;
	border-bottom: solid #FFF 1px;
	width: 100%;
	margin-bottom: 8px;
}

.subtitle03 h2{
	font-family: PingFangTC-Medium, sans-serif;
	font-size: 32px;
	line-height: 48px;
	margin-right: 16px;
	color: #FFF;
	margin-bottom: 8px;
}

.subtitle03 p{
	color: #FFF;
	font-family: PingFangTC-Semibold, sans-serif;
	font-size: 24px;
	line-height: 36px;
}


.item03{
	font-family: PingFangTC-Medium, sans-serif;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 24px;
	width: 642px;
}

.item03 p{
	font-family: PingFangTC-Light, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

.item03 img{
	display: block;
}